*,body{
    padding:0px;
    margin:0px;
    font-family: kanit;
}
.header{
    display:flex;
    justify-content: center;
    margin: 50px 0px;
    
}
.heading{
    font-size: 50px;
    font-weight: 700;
}
.container{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
    gap: 15px;
    
    

}
.box{
    display: inline-block;
    flex:1;
    background: rgba(153,153,153,255);
    /*justify-content: right;*/
    
    border-width: 4px;
    border-style: solid;
    
    

}
.box-heading{
    display:flex;
    
    
    font-size: 25px;
    font-weight:700;
    
    
    text-align:center;
    justify-content: flex-end;
}
.head-text{
    text-align:center;
    
    height:45px;
    width: 175px;
    border-width: 0px 0px 4px 4px;;
    border-style: solid;
    border-color: black;

}
    
.box-content{
    display:block;
    text-align: left;
    font-size:20px;
    padding:15px;
}
#b1{
    background:pink;
    color:black;
}
#b2{
    background:red;
    color:white;
}
#b3{
    background:burlywood;
    color:black;
 }
 
@media screen and (min-width:992px){
    .box{
        width:100%;
    }
}
@media screen and (min-width:767px) and (max-width: 991px){
    .b1{
        flex:27%;
        float:left;
    }
    .b2{
        flex:27%;
        float:left;
    }
    .b3{
        flex:50%;
        float:left;
    }
}
@media screen and (max-width: 766px){
    .box{
        float:left;
        flex:50%;
    }
} 
